{% extends "layouts/admin_base.html" %}
{% block admin_content %}
  <h2>Alterar Senha para {{ user.username }}</h2>
  <form method="post" class="form">
    <label for="password">Nova senha:</label><br/>
    <input type="password" id="password" name="password" required style="width: 40%;"/><br/><br/>
    <label for="password_confirm">Confirmar nova senha:</label><br/>
    <input type="password" id="password_confirm" name="password_confirm" required style="width: 40%;"/><br/><br/>
    <button type="submit">Alterar senha (revoga tokens)</button>
  </form>
{% endblock %}