{% extends "base.html" %}
{% block title %}Login Admin{% endblock %}

{% block content %}
  <h2>Login / Registrar Usuário</h2>
  <p>Se o usuário não existir, ele será criado. O primeiro usuário criado torna-se admin automaticamente.</p>
  <form method="post">
    <label for="username">Usuário:</label><br/>
    <input type="text" id="username" name="username" required autofocus style="width: 40%;"/><br/><br/>
    <label for="password">Senha:</label><br/>
    <input type="password" id="password" name="password" required style="width: 40%;"/><br/><br/>
    <label><input type="checkbox" name="remember" /> Lembrar sessão (manter login por {{ config.get('REMEMBER_DAYS', 30) }} dias)</label><br/><br/>
    <button type="submit">Entrar / Registrar</button>
  </form>
{% endblock %}